    body {
      font-family: sans-serif;
    }
    .content {
      height: 100%;
      width: 99%;
      border: solid #0099ff;
      border-radius: 10px;
      padding: 1px;
      margin-left: 3px;
      margin-right: 3px;
    }
    .header {
      color: #0099ff;
    }
    .Topbar {
      width: 100%;
      height: 50px;
      background-color: #0099ff;
      color: #ffffff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .Topbarlink {
      color: #ffffff;
      text-decoration: none;
    }
    .Topbarspace {
      color: #ffffff;
    }
    .links {
      color: #0099ff;
      text-decoration: none;
    }
    .error {
      color: #d00;
      font-weight: bold;
      margin-bottom: 10px;
    }